# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/

# Java
*.class
*.jar
target/
out/
.gradle/
build/

# C / C++
*.o
*.obj
*.exe
*.out
*.exe~
.build/*
!.build/.gitkeep

# IDE / editor
.idea/
*.iml

# OS
.DS_Store
Thumbs.db
